@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Colour palette: 
Smoky Black: #0C0F0A
Blue Shapphire: #005F73;
Viridion Craan:  #0A9396;
Turquiose: #41EAD4;
snow white 
Spotify Green (used in their logo): #1ed760 */

body {
	background-color: #0C0F0A;
	font-family: 'Archivo Narrow', sans-serif;
	color: white;
}

/* website name*/

h1 {
	color: #1ed760;
	text-align: center;
	text-decoration: underline;
}

/*definitions*/
#def {
	max-width: 45%;
	margin: auto;
	padding: 0.2em 0em 1em 1em;
	color: black;
	background-color: #1ed760;
	margin-top: 2em;
	margin-bottom: 2em;
}

h3 {
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}


/*song information*/
#info {
	background-color: ghostwhite;
	width: fit-content;
  border-radius: 5%;
  padding: 1em;
  float: left;
  margin: 10px;
  position: absolute;
}

p {
	color: black;
}

#info img {
	max-width: 125px;
	padding: 1em 1em 1em 0em;
	float: left;
}


/*soundwave data*/
#chart .bar {
  width: 8px;
  float: left;
  margin: 1px;
  background-color:#005F73;

}


/*footer*/
#footer {
	color: ghostwhite;
	text-align: center;
	padding: 1em;
	margin-top: 40em;
}