<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>212-Music</title>
    <meta name="description" content="Spotify Top 10 from 2010 - 2019" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>
    <h3>Definitions:</h3>
    <ul>
      <li> Title- The name of the song. </li>
      <li> Artist- The artist/s of the song. </li>
      <li> Genre- The musical style of the song. Includes geographical inspiration (eg. "detroit hip hop"). </li>
      <li>Year- The year the songs were released in. </li>
      <li>BPM (Beats per Minute)- The tempo of the song or how fast it is. </li>
      <li>Energy- The energy of a song - the higher the value, the more energtic. </li>
      <li>Dancibility- The higher the value, the easier it is to dance to this song. </li>
      <li>Loudness/dB- The higher the value, the louder the song. </li>
      <li>Liveness- The higher the value, the more likely the song is a live recording. </li>
      <li>Valence- The higher the value, the more positive mood for the song. </li>
      <li>Length- The duration of the song. </li>
      <li>Acousticness- The higher the value the more acoustic the song is. </li>
      <li>Speechiness- The higher the value the more spoken word the song contains. </li>
      <li>Popularity- The higher the value the more popular the song is. </li>
    </ul>


	<p>hello world</p>


          {% for music in music %}
          <p>
            Song: {{ music [0]}} <br>
            Artist: {{ music [1]}} <br>
            Genre: {{ music [2]}} <br>
            Year: {{ music [3]}}  <br>
            Beats per Minute: {{ music [4]}} <br>
            Energy: {{ music [5]}} <br>
            Danceability: {{ music [6]}} <br>
            Loudness/dB: {{ music [7]}} <br>
            Liveness: {{ music [8]}} <br>
            Valence: {{ music [9]}} <br>
            Length: {{ music [10]}} <br>
            Acousticness: {{ music [11]}} <br>
            Speechiness: {{ music [12]}} <br>
            Popularity: {{ music [13]}} 
          </p>
          {% endfor %}



  <div id="footer">
      {{ disclaimer }}
    </div>

  </body>

</html>