<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Spotify Top 10 in the 2010's</title>
    <meta name="description" content="Spotify Top 10 from 2010 - 2019" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>

    <h1>Top 50 Spotify Songs from 2010 to 2012:</h1>

    <!--definition-->

      <!--<div id="def">
           <h3>Definitions:</h3>
          <ul>
            <li> Title- The name of the song. </li>
            <li> Artist- The artist/s of the song. </li>
            <li> Genre- The musical style of the song. Includes geographical inspiration (eg. "detroit hip hop"). </li>
            <li>Year- The year the songs were released in. </li>
            <li>BPM (Beats per Minute)- The tempo of the song or how fast it is. </li>
            <li>Energy- The energy of a song - the higher the value, the more energtic. </li>
            <li>Dancibility- The higher the value, the easier it is to dance to this song. </li>
            <li>Loudness/dB- The higher the value, the louder the song. </li>
            <li>Liveness- The higher the value, the more likely the song is a live recording. </li>
            <li>Valence- The higher the value, the more positive mood for the song. </li>
            <li>Length- The duration of the song. </li>
            <li>Acousticness- The higher the value the more acoustic the song is. </li>
            <li>Speechiness- The higher the value the more spoken word the song contains. </li>
            <li>Popularity- The higher the value the more popular the song is. </li>
          </ul>

      </div>-->

 
    

      {% for music in music %}      
     <div id="chart" onmouseover="showSix();" onmouseout="showSix()">
          <div class="bar" style="height: 200px;"></div>
      </div>
  
  <!-- bar data -->

      <div id="info" style="visibility:hidden;">
          <!--<img src ="{{ music [14]}}">-->
          <p>
            Song: {{ music [0]}} <br>
            Artist: {{ music [1]}} <br>
            Genre: {{ music [2]}} <br>
            Year: {{ music [3]}}  <br>
            Beats per Minute: {{ music [4]}} <br>
            Popularity: {{ music [13]}} </p>
            
            <p> Energy: {{ music [5]}} |
            Danceability: {{ music [6]}} |
            Loudness/dB: {{ music [7]}} |
            Liveness: {{ music [8]}} <br>
            Valence: {{ music [9]}} |
            Length: {{ music [10]}} |
            Acousticness: {{ music [11]}} |
            Speechiness: {{ music [12]}} </p>
          </div>
            {% endfor %}
        <br>
  

  <div id="footer">
      {{ disclaimer }}
    </div>


    <script>
      console.log('Hello World');
    </script>
    
    <script src="{{ url_for('static', filename='js.js') }}"></script>

  </body>

</html>